<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="base.css" media="all"/>
</head>
<body>
    <h1>Index</h1>
    <a href="/">Home</a>  <a href="/contact">Contact</a>  <a href="/about">About</a>
    <br>
    <h1>{{ title }}</h1>
    <p>{{ description }}</p>

    <img src="cica.jpeg" alt="" width="200">

    {% if show_list %}
    <ul>
        {% for item in items %}
        <li>{{ item }}</li>
        {% endfor %}
    </ul>
    {% endif %}

</body>
<script type="text/javascript" src="jquery.js" id="nep-quiz-js"></script>
<script type="text/javascript" src="base.js" id="nep-quiz-js"></script>

</html>